/* .box{
  width: 100px;
  height: 100px;
  background-color: aqua;
} */

/* #b1{
  height: 100px;
  width: 100px;
  background-color: brown;
} */


/* .box{
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: purple;
  display: inline-block;
} */

/* .box{
  width: 70px;
  height: 70px;
  margin: 10px;
  background-color: #8e44ad;
  display: inline-block;
} */
